<style>
body {
  margin:0;
}
 a {
   color:black;
   text-decoration: none;
 }
 h1 {
   font-size: 50px;
   text-align: center;
   border-bottom: 1px solid gray;
   margin:0;
   padding: 20px;
 }
 h2 {
   font-size: 33px;
   text-align: center;
 }
 img {
   float:right;
 }
 .saw {
   color:purple;
 }
 #active {
   color:red;
 }
 ol {
   border-right: 1px solid gray;
   width:220px;
   margin:0;
   padding:10px;
   padding-left: 25px;
   padding-right: 5px;
 }
 #grid {
   display: grid;
   grid-template-columns: 150px 1fr;
 }
 #article {
   padding-left: 110px;
 }
 @midea(max-width:720px) {
   #grid {
     display: block;
   }
 }
</style>
